body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #2d2d2d;
}

@font-face {
  font-family: Righteous;
  src: url("../css/Righteous-Regular.ttf");
}

#sidebar {
  background: rgba(0, 0, 0, .20) url('horanghillstartingplace.png');
  background-position: center !important;
  height: fit-content;
  background-size: cover !important;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 10px #1d1d1d90;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  background-position: center center;
  outline: none;
}

#main {
  padding: 25px;
  box-sizing: border-box;
  overflow: auto;
  max-width: 800px;
  margin: auto;
}

#sidebar a {
  padding: 10px 20px;
  cursor: pointer;
}

#sidebar a:first-of-type {
  padding-left: 0;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#game {
  padding: 25px;
  background-color: #1d1d1d;
  color: white;
  margin-top: 25px !important;
  box-shadow: 200px -1px 136px 8px rgba(0, 0, 0, 0.67) inset;
  -webkit-box-shadow: 200px -1px 136px 8px rgb(0 0 0 / 67%) inset;
  -moz-box-shadow: 200px -1px 136px 8px rgba(0, 0, 0, 0.7) inset;
  border-radius: 10px;
  border: #4d4d4d solid;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin: 10px;
  width: calc(33% - 18px);
  aspect-ratio: 1/1;
  float: left;
  border-width: 1px 1px 3px 1px;
}

h1 {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.tablinks {
  font-family: Righteous;
}

h1 select {
  font-size: 24px;
  background: #2d2d2d;
  font-family: 'Righteous';
  border: none;
  font-weight: bold;
  border-bottom: #4d4d4d solid 2px;
}

input,
textarea,
button,
label,
iframe {
  padding: 14px;
  background-color: #1d1d1d;
  border: #4d4d4d solid;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  margin-top: 25px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  border-width: 1px 1px 3px 1px;
}

input[type=file] {
  display: none !important;
}

.rightNav {
  float: right;
  margin-top: -10px;
}

.quickcard {
  border: solid #6d6d6d;
  border-width: 1px 1px 3px 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #3d3d3d;
  text-decoration: none;
}

.gameThumbnail {
  padding: 25px;
  background-color: #1d1d1d;
  border: none;
  border: #4d4d4d solid 1px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
}

#migrationNotice {
  background: darkred;
  padding: 15px;
  border-radius: 10px;
  margin-top: 25px;
}

hr {
  margin-bottom: 25px;
}

.sidebar-contain {
  width: 800px;
  margin: auto;
  padding: 25px;
}

button {
  cursor: pointer;
}

#cataloglist {
  margin-top: 20px;
}

.catalogItem img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
}

.catalogItem {
  display: inline-block;
  padding: 15px;
  background: #3d3d3d;
  border: #4d4d4d solid;
  margin: 5px;
  cursor: pointer;
  width: calc(33% - 9px);
  border-radius: 10px;
  border-width: 1px 1px 3px 1px;
}

.preview {
  float: left;
  width: 200px;
}

.selector {
  float: right;
  width: 550px;
  padding: 25px;
  padding-top: 0;
}

canvas {
  border-radius: 10px;
  border: #4d4d4d solid;
  border-width: 1px 1px 3px 1px;
}

input[type=color] {
  height: 50px !important;
}

.catalogPrevLeft {
  float: left;
  margin-right: 25px;
}

.catalogPrevLeft img {
  width: 250px;
  border-radius: 15px;
}

.catalogPrevRight {
  float: left;
  padding: 22px;
}

.catalogPrevRight {
  width: 475px;
}

#captchaCanvas {
  width: 100%;
  margin-top: 25px;
}

footer {
  background: #3d3d3d;
}

.tabcontent {
  min-height: 100vh;
}

input[type=radio] {
  margin: 0;
  display: inline-block;
  width: fit-content;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

.loginloader {
  text-align: center;
}

.quickcards {
  display: flex;
  width: 100%;
  overflow: auto;
}

.hidden {
  display: none !important;
}

#gamethumbnail {
  height: 50dvh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1d1d1d;
  border-radius: 10px;
  border: #4d4d4d solid 1px;
}

#toggle:checked+#nav {
  display: block;
}

#nav {
  display: none;
}

#mobiletoggle {
  display: none;
  text-decoration: none;
  float: right;
  padding: 0px !important;
}

details {
  margin-left: 5px;
}

#catalogSidebar label,
#profileItemTypes label {
  margin: 0;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}

#catalogSidebar label:first-child,
#profileItemTypes label:first-child {
  margin-top: 25px;
  border-top: #4d4d4d solid 1px;
  border-radius: 10px 10px 0px 0px;
}

#catalogSidebar label:last-child,
#profileItemTypes label:last-child {
  border-bottom: #4d4d4d solid;
  border-width: 1px 1px 3px 1px;
  border-radius: 0px 0px 10px 10px;
}

#playerProfileLeft {
  width: 200px;
  word-wrap: break-word;
}

#playerProfileLeft img {
  width: 100%;
  border: #4d4d4d solid 1px;
}

#playerProfileRight {
  width: 525px;
  padding: 0;
}

#playerProfileRight label:first-child,
#playerProfileRight textarea:first-child {
  margin-top: 0;
  resize: vertical;
  min-height: fit-content;
}

.categorytabs textarea,
.profileCard textarea,
iframe {
  resize: vertical;
}

input[type=button] {
  cursor: text;
}

form label {
  cursor: pointer;
}

.dashedAdd {
  background: none;
  border: #4d4d4d dashed 2px;
  color: #4d4d4d;
}

.profileCard span {
  cursor: pointer;
  margin: 10px;
  margin-bottom: 0px;
  display: inline-block;
  opacity: 25%;
}

.promo1 {
  z-index: 1;
  position: relative;
  pointer-events: none;
}

.promo1 img {
  height: 320px;
  display: none;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.createexplore {
  text-align: right;
  position: absolute;
  margin-left: 45px;
  overflow: hidden;
}

.create,
.explore {
  width: 90px;
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
}

.create {
  animation: slideInUp 10s linear infinite;
}

.explore {
  animation: slideInDown 10s linear infinite;
}

.slash {
  width: 20px;
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
}

.promo2 {
  position: relative;
  text-align: right;
  height: 0;
}

.toLogin {
  display: inline-block;
  padding: 80px;
  padding-bottom: 0;
  padding-left: 0;
  text-align: right;
}

.loginMain {
  min-height: calc(100dvh - 205px);
}

.showLogin {
  padding: 10px;
  background: #3d3d3d;
  border-radius: 10px;
  text-decoration: none;
  border: solid #6d6d6d;
  border-width: 1px 1px 3px 1px;
}

#featuredUser {
  opacity: 0.25;
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(25%);
  }

  50% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(25%);
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(-25%);
  }
}

@media (max-width: 800px) {
  #landing {
    height: 465px;
  }

  .promo2 {
    position: absolute;
    z-index: 10;
  }

  .toLogin {
    width: calc(100vw - 50px);
    margin-right: 20px;
    margin-top: 265px;
    padding-right: 0px;
    text-align: center;
  }

  .loginMain {
    min-height: calc(100dvh - 235px);
  }

  #playerProfileLeft {
    width: 100%;
  }

  #playerProfileRight,
  #selector {
    width: 100%;
    padding: 0;
    margin-top: 25px;
  }

  #sidebar a:first-of-type {
    padding: 10px 0px;
  }

  .rightNav {
    float: unset;
    margin-top: 0;
  }

  #sidebar a {
    display: inline-block;
    padding-right: 0;
  }

  #toggle:checked+#nav {
    display: none;
  }

  #nav {
    display: block;
    text-align: right;
  }

  #mobiletoggle {
    display: block;
  }

  .tablinks {
    display: inline-block;
  }

  .sidebar-contain {
    width: 100vw;
  }

  .quickcard {
    height: auto;
    box-sizing: border-box;
  }

  #main {
    width: 100vw;
    margin: 0;
  }

  .catalogPrevRight,
  .catalogPrevLeft,
  .preview,
  .selector,
  #cataloglist,
  #catalogSidebar {
    width: 100%;
    padding: 0;
  }

  .catalogItem {
    width: calc(100% - 10px);
  }

  #game {
    width: auto;
    aspect-ratio: unset;
    float: unset;
  }
}

@media (prefers-color-scheme: dark) {
  hr {
    border-color: #6d6d6d;
  }

  * {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .showLogin {
    background: lightgray;
    color: black;
  }

  .quickcard,
  .catalogItem,
  h1 select,
  input,
  textarea,
  button,
  label,
  canvas,
  iframe,
  .showLogin {
    background: #e7e7e7;
    border-color: #a8a8a8;
    color: black;
  }

  #catalogSidebar label,
  #profileItemTypes label {
    border-bottom-color: #a8a8a8 !important;
    border-top-color: #a8a8a8 !important;
  }

  body {
    background: whitesmoke;
  }

  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
  }

  h1 i {
    color: black;
  }

  button {
    background: rgba(0, 0, 0, .20) url('horanghillstartingplace.png');
    background-position: center;
    font-family: Righteous;
    color: white;
  }

  button i {
    color: white;
  }

  footer {
    background: lightgray;
  }

  #myBits {
    color: white;
  }

  #gamecard1,
  #gamecard2,
  #gamecard1 b {
    color: white;
  }

  #migrationNotice,
  #migrationNotice i {
    color: white;
  }

  #sidebar h1,
  #sidebar a,
  #sidebar i {
    color: white;
  }

  footer a {
    color: black;
  }

  #migrationNotice a {
    color: white;
  }
}