body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #2d2d2d;
}

@font-face {
  font-family: Righteous;
  src: url("../css/Righteous-Regular.ttf");
}

#sidebar {
  background: rgba(0, 0, 0, .20) url('horanghillstartingplace.png');
  background-position: center !important;
  height: fit-content;
  background-size: cover !important;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 10px #1d1d1d90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: white;
  background-position: center center;
  outline: none;
}

#main {
  padding: 25px;
  box-sizing: border-box;
  overflow: auto;
  max-width: 800px;
  margin: auto;
}

#sidebar a {
  padding: 10px 20px;
  cursor: pointer;
}

#sidebar a:first-of-type {
  padding-left: 0;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#game {
  padding: 25px;
  background-color: #1d1d1d;
  color: white;
  margin-top: 25px !important;
  box-shadow: 200px -1px 136px 8px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 200px -1px 136px 8px rgb(0 0 0) inset;
  -moz-box-shadow: 200px -1px 136px 8px rgba(0, 0, 0, 1) inset;
  border-radius: 10px;
  border: #4d4d4d solid 1px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin: 10px;
}

h1 {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.tablinks {
  font-family: Righteous;
}

h1 select {
  font-size: 24px;
  background: #2d2d2d;
  font-family: 'Righteous';
  border: none;
  font-weight: bold;
  border-bottom: #4d4d4d solid 2px;
}

input,
textarea,
button,
label {
  padding: 14px;
  background-color: #1d1d1d;
  border: none;
  border: #4d4d4d solid 1px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  margin-top: 25px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
}

input[type=file] {
  display: none !important;
}

.rightNav {
  float: right;
  margin-top: -10px;
}

.quickcard {
  border: 1px solid #6d6d6d;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #3d3d3d;
  text-decoration: none;
}

.gameThumbnail {
  padding: 25px;
  background-color: #1d1d1d;
  border: none;
  border: #4d4d4d solid 1px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
}

#migrationNotice {
  background: darkred;
  padding: 15px;
  border-radius: 10px;
  margin-top: 25px;
}

hr {
  margin-bottom: 25px;
}

.sidebar-contain {
  width: 800px;
  margin: auto;
  padding: 25px;
}

button {
  cursor: pointer;
}

#cataloglist {
  margin-top: 20px;
}

.catalogItem img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
}

.catalogItem {
  display: inline-block;
  padding: 15px;
  background: #3d3d3d;
  border: #4d4d4d solid 1px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  width: calc(33% - 9px);
}

.preview {
  float: left;
  width: 200px;
}

.selector {
  float: right;
  width: 550px;
  padding: 25px;
  padding-top: 0;
}

canvas {
  border-radius: 10px;
  border: #4d4d4d solid 1px;
}

input[type=color] {
  height: 50px !important;
}

.catalogPrevLeft {
  float: left;
  margin-right: 25px;
}

.catalogPrevLeft img {
  width: 250px;
  border-radius: 15px;
}

.catalogPrevRight {
  float: left;
  padding: 22px;
}

.catalogPrevRight {
  width: 475px;
}

#captchaCanvas {
  width: 100%;
  margin-top: 25px;
}

footer {
  background: #3d3d3d;
}

.tabcontent {
  min-height: 100vh;
}

input[type=radio] {
  margin: 0;
  display: inline-block;
  width: fit-content;
  margin-right: 10px;
}

input,
button {
  cursor: pointer;
}

.loginloader {
  text-align: center;
}

.quickcards {
  display: flex;
  width: 100%;
  overflow: auto;
}

.hidden {
  display: none !important;
}

@media (max-width: 800px) {
  .tablinks {
    display: inline-block;
  }

  .sidebar-contain {
    width: 100vw;
  }

  .quickcard {
    height: auto;
    box-sizing: border-box;
  }

  #main {
    width: 100vw;
    margin: 0;
  }

  .catalogPrevRight,
  .catalogPrevLeft,
  .preview,
  .selector,
  #cataloglist,
  #catalogSidebar{
    width: 100%;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  hr {
    border-color: #6d6d6d;
  }
}

@media (prefers-color-scheme: light) {
  .quickcard,
  .catalogItem {
    background: lightgray;
    border: 1px solid #ccc;
  }

  input,
  textarea,
  button,
  label,
  canvas {
    background: lightgray;
    border: 1px solid #ccc;
    color: black;
  }

  body {
    background: whitesmoke;
  }

  * {
    color: black;
  }

  input,
  textarea {
    background: none;
    border: gray solid 1px;
  }

  button {
    background: rgba(0, 0, 0, .20) url('horanghillstartingplace.png');
    background-position: center;
    font-family: Righteous;
    color: white;
  }

  button i {
    color: white;
  }

  footer {
    background: lightgray;
  }

  #myBits {
    color: white;
  }

  #gamecard1,
  #gamecard2,
  #gamecard1 h2 {
    color: white;
  }

  #migrationNotice,
  #migrationNotice i {
    color: white;
  }

  #sidebar h1,
  #sidebar a,
  #sidebar i {
    color: white;
  }

  #migrationNotice a {
    color: white;
  }
}