body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10pt;
  background: #2d2d2d;
}

@font-face {
  font-family: Righteous;
  src: url("../css/Righteous-Regular.ttf");
}

#sidebar {
  background: rgba(0, 0, 0, .20) url('horanghillstartingplace.png');
  background-position: center !important;
  height: fit-content;
  background-size: cover !important;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 10px #1d1d1d90;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
  background-position: center center;
}

.header {
  color: steelblue;
  font-size: 12.5pt;
}

#main {
  padding: 25px;
  box-sizing: border-box;
  overflow: auto;
  max-width: 800px;
  margin: auto;
}

#sidebar a {
  padding: 10px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#game {
  padding: 25px;
  background-color: #1d1d1d;
  color: white;
  margin-top: 25px;
  box-shadow: 200px -1px 136px 8px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 200px -1px 136px 8px rgb(0 0 0) inset;
  -moz-box-shadow: 200px -1px 136px 8px rgba(0, 0, 0, 1) inset;
  border-radius: 10px;
  border: #4d4d4d solid 1px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Righteous;
}

input,
textarea,
button,
label {
  padding: 14px;
  background-color: #1d1d1d;
  border: none;
  border: #4d4d4d solid 1px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  margin-top: 25px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
}

input[type=file] {
  display: none !important;
}

.rightNav {
  float: right;
  margin-top: -10px;
}

.gameThumbnail {
  padding: 25px;
  background-color: #1d1d1d;
  border: none;
  border: #4d4d4d solid 1px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
}

#migrationNotice {
  background: darkred;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

@media (prefers-color-scheme: light) {
  body {
    background: whitesmoke;
  }

  * {
    color: black;
  }

  input,
  textarea {
    background: none;
    border: gray solid 1px;
  }

  button {
    background: rgba(0, 0, 0, .20) url('horanghillstartingplace.png');
    background-position: center;
    font-family: Righteous;
  }

  button i {
    color: white;
  }

  #gamecard1,
  #gamecard2,
  #gamecard1 h2 {
    color: white;
  }

  #migrationNotice,
  #migrationNotice i {
    color: white;
  }

  #sidebar h1,
  #sidebar a,
  #sidebar i {
    color: white;
  }

  #migrationNotice a {
    color: white;
  }
}