form {
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('horanghillstartingplace.png');
}

@font-face {
  font-family: horangfont;
  src: url("Righteous-Regular.ttf");
}

* {
  transition: all 0.1s ease;
  font-family: horangfont;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

header {
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.form {
  padding: 20px;
  background-color: #ffffffaa;
  border-radius: 10px;
}

button {
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}